@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Areas/Admin/Styles/login.css" rel="stylesheet" />




</head>
<body>
    
    
        @RenderBody()
  
        
    
</body>
</html>
