
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<center><h2>Welcome AdminPannel</h2></center>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
$("#btnfilltable").on("click", function () {
        logout();

    });






    function logout() {
        debugger
        $.ajax({
            url: "/Employee/Logout",
            type: "GET",
            dataType: "html",
            success: function (data) {
                console.log(data);
                window.location.href = "@Url.Action("Index", "Employee")";



            },
            error: function (er) {
                debugger
                console.log(er);
            },



        })
    };
</script>