@model IEnumerable<demo.Areas.User.Models.subcategorylist>


@foreach (var item in Model)
{

    <tr>
        @*@Html.HiddenFor(modelItem => item.UserId)*@

        <td>

            @Html.DisplayFor(modelItem => item.SubCategoryName)
        </td>

    </tr>
}
